node_id=2
node_name='{{ ansible_hostname }}'
conninfo='host={{ ansible_host }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory='/var/lib/postgresql/16/main'
use_replication_slots=1
log_level=INFO
log_file='/var/log/repmgr/repmgr.log'
pg_bindir='/usr/lib/postgresql/16/bin'
promote_command='/opt/promote.sh'
follow_command='repmgr standby follow -f /etc/repmgr.conf --upstream-node-id=%n'
standby_disconnect_on_failover=true
failover='automatic'
reconnect_attempts=6
reconnect_interval=5
monitor_interval_secs=2
node_rejoin_timeout=30
standby_reconnect_timeout=30
log_status_interval=20
ssh_options='-o "StrictHostKeyChecking=no"'
service_start_command='sudo /usr/bin/systemctl start postgresql'
service_stop_command='sudo /usr/bin/systemctl stop postgresql'
service_restart_command='sudo /usr/bin/systemctl restart postgresql'
service_reload_command='sudo /usr/bin/systemctl reload postgresql'